[Unit]
Description=Procurando Bitucas bot as a service

[Service]
Type=idle
Restart=always
ExecStart=/home/orangepi/.pyenv/shims/procurando-bitucas
User=orangepi

[Install]
WantedBy=multi-user.target
