[Unit]
Description=Procurando Bitucas bot as a service

[Service]
Type=idle
Restart=always
ExecStart=${HOME}/.pyenv/shims/procurando_bitucas
User=orangepi

[Install]
WantedBy=multi-user.target
