python-telegram-bot==13.7
feedparser==6.0.8
python-dateutil==2.8.2
peewee==3.14.4
requests==2.28.1
protobuf==3.20.1
gTTS==2.2.4

click==8.0.3
google-assistant-grpc==0.3.0
google-auth-oauthlib==0.4.6
google-assistant-sdk==0.6.0
pytz==2022.5
emoji==2.1.0
